*{
  font-family: Roboto;
}

hr{
  border: 2px solid white;
}

                                                      /* Navigation Styling */
.navClass{
  text-align: center;
  background-color: rgba(42, 59, 0, 0.897);
  padding: 20px 0;
  font-size: 25px;
}
@media only screen and (max-width:1200px){
  .NavItems{
    font-size: 16px;
    padding: 0 15px;
  }
}
nav a{
  
  padding-right:7px;
  padding-left: 7px ;
  color: white;
  text-decoration: none;
}
.navClass a:hover{
  background-color: brown;
  border-radius: 10px;
}
nav a.active{
  background-color: purple;
  border-radius: 10px;
  color: orange;
  font-size: 30px;
  font-weight: bold;
}
.logo{
  border-radius: 10px;
}
hr{
  border:3px solid black;
}
.error404{
  padding:20px;
  margin: 20px;
  font-size: 2em;
  border: 2px solid red;
  color: red;
}
                                                  /* Navigation Styling Ends Here*/




                                                        /* ConactUs Styling */
.submitBtn{
  width:100%
}
.contactBody{
  background-image: url('./Components/Images/ContactUs.jpg');
  background-size: cover;
  background-position: center center;
  background-color: white;
  background-blend-mode: hard-light;
  height: 100vh;
}

.results{
  color:white;
}

                                                /* ConactUs Styling Ends Here*/



                                                  /* Home Page Styling */
.homePage{
  background-image: url('./Components/Images/HomePage.jpg');
  background-size: cover;
  background-color: rgb(99, 98, 98);
  background-blend-mode:hard-light;
  width: 100%;
  padding-top: 10px;
}

@media only screen and (max-with:'500px') {
  .title{
    font-size: 60px;
  }
}
.mainImg{
  width:100%;
  height:800px;
  margin-top: 60px; 
}

.nowtrending{
  text-align: center;
}

                                                  /* News Pages Styling */
.carsTable,td,th,tr{
  text-align: center;
}
h1{
  text-align: center;
}
p{
  text-align: left;
  padding: 5px;
  font-size: large;
  word-spacing: 6px;
}
.newspage{
  background-color: rgb(166, 255, 166);
}

.inlineImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.useremail{
  width: 100%;
  margin-left: 5px;
}
.usercomments{
  width: 50%;
  margin-left: 5px;
  background-color: rgb(0, 60, 0);
  color: white;
  border-radius: 5px;
}
.userimg{
  height: 30px;
  width: 30px;
}
.comment{
  width: 30%;
}
.commentuser{
  width: 15%;
}

.CatagoriesLink{
  text-decoration: none;
  cursor: pointer;
}
                                                    /* News Pages Styling */



                                                    /* Current Affairs */

.currentAffair{
  background-image:url('./Components/Images/currentAffairs.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 35px;
  left:0;
  background-color: rgb(99, 98, 98);
  background-blend-mode:hard-light;
}
.catag{
  color: white;
  text-decoration: none;
 
}
.catDiv{
  text-align: center,justify;
  width: 70%;
}

.caImg{
  height: 300px;
  width: 300px;
}

                                                  /* Current Affairs */




                                                    /* Technology */

.technology{
  background-image:url('./Components/Images/TechPage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  left:0;
  padding-bottom: 75px;
  background-color: black;
  background-blend-mode:hard-light;
}
                                                    /* Technology */

                                                      /* Eatries */

.eatries{
  background-color: black;
  background-image: url('./Components/Images/EatriesPage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  background-blend-mode:hard-light;
  
  left:0;
}

ul{
  list-style-type: square;
}
                                                      /* Eatries */
